{% extends 'base.html.twig' %}

{% block title %}Noticia index
{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container-xl">
			{% if admin %}
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<a href="{{ path('noticia_new') }}" class="btn btn-primary">Create new</a>
					</div>
				</div>
			{% endif %}
			<div class="row justify-content-center">
				{% for noticia in noticias %}
					<div class="col-md-6 col-lg-4 d-flex">
						<div class="blog-entry justify-content-end aos-init aos-animate" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="100">
							<a href="blog-single.html" class="block-20 img" style="background-image:url(images/ximage_1.jpg.pagespeed.ic.7R2Zr2FA0t.webp)"></a>
							<div class="text">
								<p class="meta">
									<span>
										<i class="fa fa-user me-1"></i>Admin</span>
									<span>
										<i class="fa fa-calendar me-1"></i>
										{{ noticia.created|date('d M Y')}}</span>
									<span>
										<a href="#">
											<i class="fa fa-comment me-1"></i>
											0 Comments</a>
									</span>
								</p>
								<h3 class="heading mb-3">
									<a href="#">{{noticia.titulo}}</a>
								</h3>
								<p>{{ noticia.text|slice(0,100) }}</p>
                                <a href="{{path('noticia_show', {'id': noticia.id})}}" class="btn btn-primary btn-outline-primary d-block px-2 py-3">Ler</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>


{% endblock %}
