{% for noticia in noticias %}
	<div class="col-md-6 col-lg-4 d-flex">
		<div class="blog-entry justify-content-end aos-init aos-animate" data-aos="flip-right" data-aos-duration="1000" data-aos-delay="100">
			<a href="{{path('noticia_show', {'id': noticia.id})}}" class="block-20 img" style="background-image:url(/images/uploads/Noticia/{{ noticia.imagem }})"></a>
			<div class="text">
				<p class="meta">
					<span>
						<i class="fa fa-user me-1"></i>Admin</span>
					<span>
						<i class="fa fa-calendar me-1"></i>
						{{ noticia.created|date('d M Y')}}</span>
					<span>
						<a href="#">
							<i class="fa fa-comment me-1"></i>
							0 Comments</a>
					</span>
				</p>
				<h4 class="heading mb-3">
					<a href="{{path('noticia_show', {'id': noticia.id})}}">{{noticia.titulo}}</a>
				</h4>
				<p>{{ noticia.text|raw|slice(0,100)|raw }}</p>
				<a href="{{path('noticia_show', {'id': noticia.id})}}" class="btn btn-primary d-block px-2 py-3">Ler</a>
			</div>
		</div>
	</div>

{% endfor %}
