{% for noticia in noticias|slice(0,4) %}
<div class="block-21 mb-4 d-flex">
	<a class="blog-img img rounded" style="background-image:url(images/uploads/Noticia/{{noticia.imagem}})"></a>
	<div class="text">
		<div class="meta">
			<div>
				<a href="{{path('noticia_show', {'id': noticia.id})}}">
					<span class="fa fa-calendar"></span>
					{{noticia.created|date("d M Y")}}</a>
			</div>
		</div>
		<h4 class="heading">
			<a href="{{path('noticia_show', {'id': noticia.id})}}">{{noticia.titulo|slice(0,20)}}</a>
		</h4>
	</div>
</div>
{% endfor %}