{% extends 'base.html.twig' %}

{% block title %}Endereco index{% endblock %}

{% block body %}
    <h1>Endereco index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Endereco</th>
                <th>Cidade</th>
                <th>Provincia</th>
                <th>Pais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for endereco in enderecos %}
            <tr>
                <td>{{ endereco.id }}</td>
                <td>{{ endereco.endereco }}</td>
                <td>{{ endereco.cidade }}</td>
                <td>{{ endereco.provincia }}</td>
                <td>{{ endereco.pais }}</td>
                <td>
                    <a href="{{ path('endereco_show', {'id': endereco.id}) }}">show</a>
                    <a href="{{ path('endereco_edit', {'id': endereco.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('endereco_new') }}">Create new</a>
{% endblock %}
