<html>
    <head>
    <style>
        *{font-family:arial}
        body{
            padding:15px
        }
        td table, td th, td td {
            border: 1px solid black;
            border-collapse: collapse;
            padding:5px
            }
    </style>
    </head>
    <body>
    <table style="margin:15px; widtd:720px; ">
        <tr>
            <td style="text-align:center">
            <img src="/logo/angola.jpg" style="width:60px"/><br/>
                REPUBLICA DE ANGOLA<br/>
                MINISTÉRIO DO ENSINO SUPERIOR, CIÊNCIAS, tECNOLOGIA E INOVAÇÃO<br/>
                <b>INSTITUTO SUPERIOR POLITÉCNICO DO BENGO</b><br/>
                COMISSÃO INSTALADORA
            </td>
        </tr>

        <tr>
            <td  style="text-align:center">
            <br/>
            <p>CONCURSO PÚBLICO DE INGRESSO</p>
            <p><b>
                FICHA DE INSCRIÇÃO DO CANDIDATO
            </b></p>
            </td>
        </tr>

        <tr>
            <td style="text-align:center">

                <!-------------------------->

<table border=1 style="width:100%">
<tdead>
  <tr>
    <td >
    N.º DE INSCRIÇÃO
    <h2>{{candidato.numero}}</h2>
    </td>
    <td colspan="2">
        DATA: {{candidato.created|date('d/m/Y')}}<br/>
        HORA: {{candidato.created|date('H:i:s')}}<br/>
    </td>
  </tr>
</tdead>
<tbody>
  <tr>
    <td>
    N.º DE DOCUMENTO DE INSCRIÇÃO
    <h3>{{candidato.numeroDocumentoIdentificacao}}</h3>
    </td>
    <td colspan="2">
        NOME
        <h3>{{candidato.nomeCompleto}}</h3>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
    CONTACTOS
        <h3>-</h3>
    </td>
    <td colspan="2">
    CATEGORIA QUE SE CANDIDATOU
        <h3>{{candidato.categoria}}</h3>
    </td>
  </tr>
  <tr>
    <td>
    GRAU ACADÊMICO
        <h3>{{candidato.grauAcademico}}</h3>
        </td>
    <td colspan="2"  rowspan="2">
    <img src="/logo/qr.png"/><br/>
    </td>
  </tr>
  <tr>
    <td  colspan="2">
    
    AREA QUE SE CANDIDATOU
        <h3>{{candidato.area}}</h3></td>
    
  </tr>
</tbody>
</table>
<!-- ---- ------------ ------ -->
            </td>
        </tr>

        <tr>
            <td style="text-align:center">
            O(a) Candidato (a)<br/>
___________________________ <br/>
<br/>

Comprovativo de candidatura ao concurso público gerado electronicamente em:<br/>
{{candidato.created|date('d/m/Y')}} às {{candidato.created|date('H:i')}}
<br/>

            </td>
        </tr>

        <tr>
            <td  style="text-align:center">
            </td>
        </tr>

        <tr>
            <td  style="text-align:center; font-size:10px; color:#555">
            
            Concurso público de ingresso ao Ensino Superior criado através do Despacho Conjunto do Ministério da Administração Pública, Trabalho e Segurança Social e do Ministério das Finanças n.º 1195/22 de 22 de Março, publicado no Diário da República nº 40, II Série, de 22 de Março de 2022, que aprova o preenchimento de 10 vagas à docência no Instituto Superior Politécnico do Bengo.
            </td>
        </tr>
    </table>
    <script>
        print();
        setTimeout(function(){
            location.href="/"
        },1000)
    </script>
    </body>
</html>