<section class="ftco-section bg-light ftco-no-pt">
	<div class="container-xl" style="background:#FFF">
		<div class="row justify-content-center">
                <div class="text-left col-md-6">
					<a href="{{ path('candidato_index') }}" class="btn btn-default">
						<i class="fa fa-chevron-left"></i>
						Voltar as Candidaturas
					</a>
				</div>
				<div class="text-right col-md-6">
					
				</div>
			<div class="col-md-8 heading-section mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
				<h1>
				</div>
				<div class="text-left col-md-6">
					
				</div>
				<div class="text-right col-md-6">
					<div class="pull-right">
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				
                
    <h1>Candidatura <b>#{{candidato.numero}}</b></h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Nome Completo</th>
                <td>{{ candidato.nomeCompleto }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ candidato.email }}</td>
            </tr>
            <tr>
                <th>Data de Nascimento</th>
                <td>{{ candidato.dataNascimento ? candidato.dataNascimento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Número do Documento Identificação</th>
                <td>{{ candidato.numeroDocumentoIdentificacao }}</td>
            </tr>
            <tr>
                <th>Residência</th>
                <td>{{ candidato.residencia }}</td>
            </tr>
            <tr>
                <th>Área de Formação</th>
                <td>{{ candidato.areaFormacao }}</td>
            </tr>
            <tr>
                <th>Instituição</th>
                <td>{{ candidato.instituicao }}</td>
            </tr>
            <tr>
                <th>Grau Académico</th>
                <td>{{ candidato.grauAcademico }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ candidato.categoria }}</td>
            </tr>
            <tr>
                <th>Área</th>
                <td>{{ candidato.area }}</td>
            </tr>
            <tr>
                <th>Requerimento</th>
                <td>
                <a href="https://app.ispbengo.ao/images/uploads/Candidatura/{{ candidato.requerimento }}" target="_blank" class="btn btn-lg btn-primary">
                Baixar Anexo
                </a>
                </td>
            </tr>
            <tr>
                <th>Curriculum</th>
                <td><a href="https://app.ispbengo.ao/images/uploads/Candidatura/{{ candidato.curriculum }}" target="_blank" class="btn btn-lg btn-primary">
                    Baixar Anexo
                </a></td>
            </tr>
            <tr>
                <th>Data da candidatura</th>
                <td>{{ candidato.created ? candidato.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidato_edit', {'id': candidato.id}) }}">edit</a>


    
			</div>
		</div>
	</section>
