
{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}

<section class="ftco-section">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <span class="subheading">Concurso</span>
                    <h2 class="mb-4">Concurso Público</h2>
                    {% if admin %}
                    <a href="{{ path('vaga_emprego_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create new</a>
                    {% endif %}
                </div>
            </div>
            <div class="row g-lg-2 justify-content-left">
                {% for vaga_emprego in vaga_empregos %}
                    <div class="col-md-3 col-xl-3 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <a href="{{path('vaga_emprego_show', {'id': vaga_emprego.id})}}" class="services-2">
                            <div class="text">
                                <p>
                                <h2>
                                {{ vaga_emprego.categoria }} de 
                                {{ vaga_emprego.area }}</h2>
                                <span>
                                {{ vaga_emprego.codigo }}
                                </span>
                                </p>
                            </div>
                            <hr>
                            <span>{{ vaga_emprego.dataFim|date('d/M/Y') }}</span>
                        </a>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
{% endblock %}
