{% extends 'base.html.twig' %}

{% block title %}Lingua index{% endblock %}

{% block body %}
    <h1>Lingua index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Icon</th>
                <th>Code</th>
                <th>Created</th>
                <th>Isactive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lingua in linguas %}
            <tr>
                <td>{{ lingua.id }}</td>
                <td>{{ lingua.nome }}</td>
                <td>{{ lingua.icon }}</td>
                <td>{{ lingua.code }}</td>
                <td>{{ lingua.created ? lingua.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lingua.isactive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('lingua_show', {'id': lingua.id}) }}">show</a>
                    <a href="{{ path('lingua_edit', {'id': lingua.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lingua_new') }}">Create new</a>
{% endblock %}
