{% extends 'base.html.twig' %}

{% block title %}GrauAcademico{% endblock %}

{% block body %}
    <h1>GrauAcademico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grau_academico.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ grau_academico.nome }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ grau_academico.nivel }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ grau_academico.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('grau_academico_index') }}">back to list</a>

    <a href="{{ path('grau_academico_edit', {'id': grau_academico.id}) }}">edit</a>

    {{ include('grau_academico/_delete_form.html.twig') }}
{% endblock %}
