{% extends 'base.html.twig' %}

{% block title %}Periodo index{% endblock %}

{% block body %}
    <h1>Periodo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Code</th>
                <th>Created</th>
                <th>Isactive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for periodo in periodos %}
            <tr>
                <td>{{ periodo.id }}</td>
                <td>{{ periodo.nome }}</td>
                <td>{{ periodo.code }}</td>
                <td>{{ periodo.created ? periodo.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ periodo.isactive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('periodo_show', {'id': periodo.id}) }}">show</a>
                    <a href="{{ path('periodo_edit', {'id': periodo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('periodo_new') }}">Create new</a>
{% endblock %}
