{% extends 'base.html.twig' %}

{% block title %}Evento index
{% endblock %}

{% block body %}

	<section class="ftco-section bg-light ftco-no-pt">
		<div class="container-xl">
			<div class="row justify-content-center">
				<div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
					{% if true %}
						<a href="{{ path('evento_new') }}" class="btn btn-primary">
							<i class="fa fa-plus"></i>
							Create new</a>
					{% endif %}
				</div>
			</div>
			<div class="row justify-content-center">
				{% for evento in eventos %}
					<div class="col-md-6 col-lg-4 d-flex">
						<div class="blog-entry justify-content-end aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
							<a href="{{path('evento_show', {'id': evento.id})}}" class="block-20 img" style="background-image:url(images/{{ evento.imagem }}); background: #eee"></a>
							<div class="text">
								<p class="meta">
									<span>
										<i class="fa fa-clock-o me-1"></i>
										{{evento.data|date('H:m')}}</span>
									<span>
										<i class="fa fa-calendar me-1"></i>
										{{evento.data|date('d M Y')}}
									</span>
									<span>
										<a href="#">
											<i class="fa fa-comment me-1"></i>
											0 Comentarios
										</a>
									</span>
                                    <span>
										#{{evento.code|slice(0, 4)}}
									</span>
								</p>
								<h3 class="heading mb-3">
									<a href="#">{{ evento.titulo }}</a>
								</h3>
								<a href="{{path('evento_show', {'id': evento.id})}}" class="btn btn-primary btn-outline-primary d-block px-2 py-3">Ver</a>
							</div>
						</div>
					</div>

				{% endfor %}

			</div>
		</div>
	</section>
{% endblock %}
