{% extends 'base.html.twig' %}

{% block title %}Galeria index{% endblock %}

{% block body %}
    <h1>Galeria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Imagem</th>
                <th>Descricao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galerium in galerias %}
            <tr>
                <td>{{ galerium.id }}</td>
                <td>{{ galerium.titulo }}</td>
                <td>{{ galerium.imagem }}</td>
                <td>{{ galerium.descricao }}</td>
                <td>
                    <a href="{{ path('galeria_show', {'id': galerium.id}) }}">show</a>
                    <a href="{{ path('galeria_edit', {'id': galerium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('galeria_new') }}">Create new</a>
{% endblock %}
