{% extends 'base.html.twig' %}

{% block title %}Galeria{% endblock %}

{% block body %}
    <h1>Galeria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galerium.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ galerium.titulo }}</td>
            </tr>
            <tr>
                <th>Imagem</th>
                <td>{{ galerium.imagem }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ galerium.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('galeria_index') }}">back to list</a>

    <a href="{{ path('galeria_edit', {'id': galerium.id}) }}">edit</a>

    {{ include('galeria/_delete_form.html.twig') }}
{% endblock %}
