<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}ISP-BENGO
			{% endblock %}
		</title>


		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="preconnect" href="https://fonts.gstatic.com/">
		<link href="/assets/front/css2.css" rel="stylesheet">
		<link rel="stylesheet" href="./front/font-awesome.min.css">
		<link rel="stylesheet" href="./front/ionicons.min.css">
		<link rel="stylesheet" href="./front/animate.css">

  		<link rel="icon" type="image/x-icon" href="favicon.png">
		<style>
			.hidden {
				display: none
			}
			a.nav-link:hover,
			a.nav-link.active {
				border-bottom: solid 5px #39f;
				background: rgba(255, 255, 255, 0.1)
			}
		</style>
		<script type="text/javascript" async="" src="./front/analytics.js"></script>
		<script defer="" src="./front/js.js"></script>
		<script>
			(function (w, d) {
!function (a, e, t, r, z) {
a.zarazData = a.zarazData || {},
a.zarazData.executed = [],
a.zarazData.tracks = [],
a.zaraz = {
deferred: []
};
var s = e.getElementsByTagName("title")[0];
a.zarazData.c = e.cookie,
s && (a.zarazData.t = e.getElementsByTagName("title")[0].text),
a.zarazData.w = a.screen.width,
a.zarazData.h = a.screen.height,
a.zarazData.j = a.innerHeight,
a.zarazData.e = a.innerWidth,
a.zarazData.l = a.location.href,
a.zarazData.r = e.referrer,
a.zarazData.k = a.screen.colorDepth,
a.zarazData.n = e.characterSet,
a.zarazData.o = (new Date).getTimezoneOffset(), //
a.dataLayer = a.dataLayer || [],
a.zaraz.track = (e, t) => {
for (key in a.zarazData.tracks.push(e), t) 
a.zarazData["z_" + key] = t[key]





},
a.zaraz._preSet = [],
a.zaraz.set = (e, t, r) => {
a.zarazData["z_" + e] = t,
a.zaraz._preSet.push([e, t, r])
},
a.dataLayer.push({
"zaraz.start": (new Date).getTime()
}),
a.addEventListener("DOMContentLoaded", (() => {
var t = e.getElementsByTagName(r)[0],
z = e.createElement(r);
z.defer = !0,
z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))),
t.parentNode.insertBefore(z, t)
}))
}(w, d, 0, "script");
})(window, document);
		</script>
		<style></style>
		<style></style>
		<script type="text/javascript" charset="UTF-8" src="./front/common.js"></script>
		<script type="text/javascript" charset="UTF-8" src="./front/util.js"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	</head>
	<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1047.0" data-gr-ext-installed="">
		{% include "components/header.html.twig" %}
		<section class="hero-wrap" style="background-image:url(images/xbg_1.jpg.pagespeed.ic.Qvddt6BzWR.webp)">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center">
					<div class="col-lg-5">
						<div class="text mt-5 pt-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
							<span class="subheading">Seja benvindo ao
							</span>
							<h1 class="mb-4">Instituto Superior Politécnico do Bengo
							</h1>
							<p class="mb-4">
								{{sobre.sobre|striptags|raw|slice(0,130)}} ...</p>
							<p>
								<a href="{{path('sobre')}}" class="btn btn-primary p-4 py-3">Saber mais!
									<span class="fa fa-cevron-right"></span>
								</a>
								<a href="{{path('curso_index')}}" class="btn btn-white p-4 py-3">Ver Coursos
									<span class="fa fa-menu"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container-xl">
				<div class="row g-xl-5">
					<div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
						<div class="img w-100" style="background-image:url(images/xabout.jpg.pagespeed.ic.cvAg9veoWl.png)"></div>
					</div>
					<div class="col-md-6 heading-section d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
						<div class="mt-0 my-lg-5 py-5">

							<h2 class="mb-2">Porque estudar no<br/>
								ISP-BENGO?</h2>
							<div class="row mt-4 g-lg-2">
								<div class="col-lg-12 d-flex align-items-stretch services-wrap">
									<div class="services d-flex">
										<div class="icon">
											<span class="flaticon-online-learning"></span>
										</div>
										<div class="text">
											<h2>Cursos com saída no mercado de trabalho</h2>
											<p class="mb-0">A nossa oferta formativa foi desenhada para atender às necessidades do actual mercado e as estratégias do Estado Angolano.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-12 d-flex align-items-stretch services-wrap">
									<div class="services d-flex">
										<div class="icon">
											<span class="flaticon-certificate"></span>
										</div>
										<div class="text">
											<h2>Metodologias modernas</h2>
											<p class="mb-0">Além da didática e de todo o conhecimento no idioma inglês, todos nossos profissionais possuem  formação superior.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-12 d-flex align-items-stretch services-wrap">
									<div class="services d-flex">
										<div class="icon">
											<span class="flaticon-scientist"></span>
										</div>
										<div class="text">
											<h2>Ensino de Qualidade</h2>
											<p class="mb-0">Escolher o ISP-BENGO é apostar no desenvolvimento humano e académico através de uma formação inovadora, exigente e de qualidade, dirigida numa perspetiva integradora do conhecimento.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section-counter img" style="background-image:url(images/xbg_3.jpg.pagespeed.ic._5ftKPXrag.webp)">
			<div class="overlay"></div>
			<div class="container">
				<div class="row section-counter viewed">
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-graduation"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">+4.000</span>
								</h2>
								<span class="caption">Capacidade de Estudantes</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-engineer"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">+10</span>
								</h2>
								<span class="caption">Laboratorios</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-learning"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">+40</span>
								</h2>
								<span class="caption">Salas de Aulas</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-certificate"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">8</span>
								</h2>
								<span class="caption">Cursos</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section courses-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center pb-4">
					<div class="col-md-10 text-center heading-section aos-init aos-animate" data-aos="fade-up">
						<h3 class="subheading mb-5">Unidades orgânicas de ensino e de investigação científica e desenvolvimento</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
						<div class="tns-outer" id="tns1-ow">
							<div class="tns-nav" aria-label="Carousel Pagination">
								<button type="button" data-nav="2" tabindex="-1" aria-controls="tns1" style="display:none" aria-label="Carousel Page 3"></button>
								<button type="button" data-nav="3" tabindex="-1" aria-controls="tns1" style="display:none" aria-label="Carousel Page 4"></button>
							</div>
							<div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide
								<span class="current">12 to 14</span>
								of 4</div>
							<div id="tns1-mw" class="tns-ovh tns-ah" style="height: 444px;">
								<div class="tns-inner" id="tns1-iw">
									<div class="carousel-courses  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-68.75%, 0px, 0px);">
										{% for departamento in departamentos%}
											<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
												<div class="courses">
													<div class="d-flex">
														<div class="icon">
															<span class="{{departamento.icon}}"></span>
														</div>
														<div class="text">
															<span class="author">{{departamento.texto}}
															</span>
															<h2>{{departamento.titulo}}</h2>
														</div>
													</div>
													<div class="text-center bg-light rounded py-2 my-3">
														<p class="course-price mb-0">
															<span>{{departamento.cursos|reduce((carry,x)=>carry+x.vagas)}}
																Vagas</span>
															/
															<span>{{departamento.cursos|reduce((carry,x)=>carry+x.turmas)}}
																Turmas</span>
														</p>
													</div>
													<div class="text-center">
														<a href="{{path('departamento_show', {'id': departamento.id})}}" class="btn d-block btn-primary btn-outline-primary py-3">Ver cursos</a>
													</div>
												</div>
											</div>
										{% endfor %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section" style="background:#eee">
			<div class="container-xl">
				<div class="row justify-content-center">
					<div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
						<h2 class="mb-4">Nossa oferta formativa</h2>
					</div>
				</div>
				<div class="row g-lg-2 justify-content-center">
					{% for curso in cursos %}
						<div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
							<a href="{{path('curso_show', {'id': curso.id})}}" class="services-2">
								<div class="icon">
									<span class="flaticon-design"></span>
								</div>
								<div class="text">
									<h2>{{curso.titulo}}</h2>
									<span>{{curso.departamento.titulo}}</span>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>
		<section class="ftco-section testimony-section bg-light hidden">
			<div class="container-xl">
				<div class="row justify-content-center pb-4">
					<div class="col-md-7 text-center heading-section aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
						<span class="subheading">Testimonial</span>
						<h2 class="mb-5">Our Successful Students</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
						<div class="tns-outer" id="tns2-ow">
							<div class="tns-nav" aria-label="Carousel Pagination">
								<button type="button" data-nav="0" aria-controls="tns2" style="" aria-label="Carousel Page 1" class="" tabindex="-1"></button>
								<button type="button" data-nav="1" aria-controls="tns2" style="" aria-label="Carousel Page 2 (Current Slide)" class="tns-nav-active"></button>
								<button type="button" data-nav="2" tabindex="-1" aria-controls="tns2" style="display:none" aria-label="Carousel Page 3"></button>
								<button type="button" data-nav="3" tabindex="-1" aria-controls="tns2" style="display:none" aria-label="Carousel Page 4"></button>
								<button type="button" data-nav="4" tabindex="-1" aria-controls="tns2" style="display:none" aria-label="Carousel Page 5"></button>
							</div>
							<div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide
								<span class="current">10 to 12</span>
								of 5</div>
							<div id="tns2-mw" class="tns-ovh">
								<div class="tns-inner" id="tns2-iw">
									<div class="carousel-testimony  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns2" style="transform: translate3d(-60%, 0px, 0px);">
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">ISP Bengo Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_3.jpg.pagespeed.ic.Cln-jaM1jK.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item" id="tns2-item1" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item" id="tns2-item2" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_3.jpg.pagespeed.ic.Cln-jaM1jK.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item" id="tns2-item3" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-active" id="tns2-item4">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned tns-slide-active">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned tns-slide-active">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_3.jpg.pagespeed.ic.Cln-jaM1jK.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_1.jpg.pagespeed.ic.a2MnMHMs44.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
										<div class="item tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
											<div class="testimony-wrap">
												<div class="text">
													<div class="d-flex align-items-center mb-4">
														<div class="user-img" style="background-image:url(images/xperson_2.jpg.pagespeed.ic.Xrdu_nPZRp.webp)">
															<div class="icon d-flex align-items-center justify-content-center">
																<span class="fa fa-quote-left"></span>
															</div>
														</div>
														<div class="ps-3 tx">
															<p class="name">Roger Scott</p>
															<span class="position">Marketing Manager</span>
														</div>
													</div>
													<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pt">
			<div class="row">

				<div class="col-md-6 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
					<div class="block-7">
						<div class="text-center">
							<span class="price">
								<span class="number">Ensino</span>
							</span>
							<div class="p-4 px-lg-5">
								<p>{{instituicional.ensino|striptags|slice(0,100)}}</p>
							</div>
							<a href="{{path('instituicional_index')}}#ensino" class="btn btn-primary btn-outline-primary d-block px-2 py-3">Saber mais</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
					<div class="block-7">
						<div class="text-center">
							<span class="price">
								<span class="number">Investigação</span>
							</span>
							<div class="p-4 px-lg-5">
								<p>{{instituicional.investigacao|striptags|slice(0,100)}}</p>
							</div>
							<a  href="{{path('instituicional_index')}}#investigacao" class="btn btn-primary btn-outline-primary d-block px-2 py-3">Saber mais</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
					<div class="block-7">
						<div class="text-center">
							<span class="price">
								<span class="number">Extensão</span>
							</span>
							<div class="p-4 px-lg-5">
								<p>{{instituicional.extensao|striptags|slice(0,100)}}</p>
							</div>
							<a  href="{{path('instituicional_index')}}#extensao" class="btn btn-primary btn-outline-primary d-block px-2 py-3">saber mais</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section bg-light ftco-no-pt">
			<div class="container-xl">
				<div class="row justify-content-center mb-5">
					<div class="col-md-7 heading-section text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">

						<h2>Notícias</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					{% include "noticia/list.html.twig" %}
				</div>
			</div>
		</section>
		{{ include('components/footer.html.twig') }}
		{% block body %}{% endblock %}
		<script src="./front/bootstrap.bundle.min.js"></script>
		<script src="./front/tiny-slider.js"></script>
		<script src="./front/glightbox.min.js"></script>

		<script>
			eval(mod_pagespeed_7_hPlGGYt1);
		</script>
		<script>
			eval(mod_pagespeed_QuG92EaMQX);
		</script>
		<script src="./front/js.js"></script>
		<script>
			eval(mod_pagespeed_mTpoFW8ALW);
		</script>
		<script>
			eval(mod_pagespeed_omftQ6ch3C);
		</script>
		<script async="" src="./front/js(1).js"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');

		</script>
		<script defer="" src="./front/v652eace1692a40cfa3763df669d7439c1639079717194.js" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;6dafd0200df677dd&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>
		<div id="the_notes"></div>
		<div id="the_lights">
			<div id="the_lights_close"></div>
		</div>
	</body>
</html>
