{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}

<section class="ftco-section" style="background:#333">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <span class="subheading">Cursos</span>
                    <h2 class="mb-4">Nossos Cursos</h2>
                    <a href="{{ path('curso_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create new</a>
                </div>
            </div>
            <div class="row g-lg-2 justify-content-center">
                {% for curso in cursos %}
                    <div class="col-md-3 col-xl-2 text-center d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <a href="{{path('curso_show', {'id': curso.id})}}" class="services-2">
                            <div class="icon"><span class="{{ curso.icon }}"></span></div>
                            <div class="text">
                                <h2>{{ curso.titulo }}</h2>
                                <span>{{ curso.departamento.titulo }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    
{% endblock %}
