{% extends 'base.html.twig' %}

{% block title %}Subscribe index{% endblock %}

{% block body %}
    <h1>Subscribe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Active</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscribe in subscribes %}
            <tr>
                <td>{{ subscribe.id }}</td>
                <td>{{ subscribe.fullName }}</td>
                <td>{{ subscribe.email }}</td>
                <td>{{ subscribe.telephone }}</td>
                <td>{{ subscribe.active ? 'Yes' : 'No' }}</td>
                <td>{{ subscribe.created ? subscribe.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('subscribe_show', {'id': subscribe.id}) }}">show</a>
                    <a href="{{ path('subscribe_edit', {'id': subscribe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subscribe_new') }}">Create new</a>
{% endblock %}
